<div class="list-jobs">
	<p class="text-muted" style="margin-top: 30px;">Letzte Aktualisierung {{ frappe.datetime.now_datetime() }}</p>
	{% if onlyfiles.length %}
		{% for j in onlyfiles %}
			<a href="/assets/pflanzenfreund/sinvs_for_print/{{ j }}" download="{{ j }}">Download {{ j }}</a><br>
		{% endfor %}
		<button class="btn btn-primary btn-sm primary-action btn-danger" onclick="deleteAllPDF()"><i class="octicon octicon-trashcan"></i><span class="hidden-xs"> Alle Files vom Server Löschen</span></button>
	{% else %}
	<p class="text-muted">Keine Files zum Downloaden</p>
	{% endif %}
</div>