<nav class="navbar navbar-default navbar-main GCM-Navbar-Top" role="navigation">
		<div class="hidden-xs GCM-Navbar-Top-1" style="background: #f9f9f9;">
			<div class="container hidden-xs GCM-Navbar-Top-2">
				{% include "templates/navbar/pflanzenfreund_navbar_top_items.html" %}
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand ellipsis GCM-Navbar-Top-3" href="{{ url_prefix }}{{ home_page or "/"}}">
					{{ brand_html or "<img src='/assets/pflanzenfreund/images/Pflanzenfreund_Logo_RGB.png' style='max-height:84px;width:auto;'>" }}
				</a>
				<div class="dropdown">
					<button id="hidden-dropdown" class="btn btn-default navbar-toggle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="octicon octicon-three-bars"></i>
					</button>
					{% include "templates/navbar/pflanzenfreund_dropdown_items.html" %}
				</div>
			</div>
		</div>
		<div class="hidden-xs" style="background-image: url('/assets/pflanzenfreund/images/pflanzenfreund_navbar_bottom.jpg'); height: 45px;">
			<div class="container hidden-xs GCM-Navbar-Top-4">
				{% include "templates/navbar/pflanzenfreund_navbar_bottom_items.html" %}
			</div>
		<div>
</nav>