<div id="account-check">
<h1>Überprüfung Kontoinformationen:</h1>
{% set act_user = frappe.get_doc('User', frappe.user) %}
<!-- One "tab" for each step in the form: -->
<div class="tab"><h2>General:</h2>
  <p><input value="{% if act_user.first_name == None %}{% else %}{{ act_user.first_name }}{% endif %}" placeholder="First name..." oninput="this.className = ''"></p>
  <p><input value="{% if act_user.last_name == None %}{% else %}{{ act_user.last_name }}{% endif %}" placeholder="Last name..." oninput="this.className = ''"></p>
  <p><input value="{% if act_user.email == None %}{% else %}{{ act_user.email }}{% endif %}" placeholder="E-mail..." oninput="this.className = ''"></p>
  <p><input value="{% if act_user.phone == None %}{% else %}{{ act_user.phone }}{% endif %}" placeholder="Phone..." oninput="this.className = ''" data-leer="ok"></p>
  <p><input value="{% if act_user.mobile_no == None %}{% else %}{{ act_user.mobile_no }}{% endif %}" placeholder="Mobile..." oninput="this.className = ''"></p>
</div>

<div class="tab"><h2>Adressen:</h2>
<p><b>Lieferadresse:</b></p>
<select class="form-control" id="user_shipping_address">
	{% for address in get_all_addresses() %}
		<option onclick="show_address('shipping')">{{ address.parent }}</option>
	{% endfor %}
</select>
<p id="placeholder_shipping"></p>
<p><b>Rechnungsadresse:</b></p>
<select class="form-control" id="user_billing_address">
	{% for address in get_all_addresses() %}
		<option onclick="show_address('billing')">{{ address.parent }}</option>
	{% endfor %}
</select>
<p id="placeholder_billing"></p>
<p></p>
<p>Ihre Adresse ist nicht dabei, oder ist sie nicht korrekt? Kein Problem - <a href="/addresses">hier können Sie eine neue erstellen oder bestehende ändern.</a></p>
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
	<button class="btn btn-primary" style="display: none;" type="button" id="orderBtn" onclick="place_order('{{ order_code }}', '{{ act_user.first_name }} {{ act_user.last_name }}')">Place Order</button>
  </div>
</div>


<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
</div>
</div>

<script>
{% include "public/js/account_check.js" %}
</script>