@import url("/assets/frappe/js/lib/datepicker/datepicker.min.css");
@font-face {
    font-family: carraraRoman;
    src: url('/assets/pflanzenfreund/font/378609_A_0.woff');
}
@font-face {
    font-family: carraraBold;
    src: url('/assets/pflanzenfreund/font/378609_4_0.woff');
}
body {
  font-family: carraraRoman;
}
.navbar-brand {
	padding: 0px !important;
}
.hero-and-content {
	min-height: calc(100vh - 340px);
}
.btn {
	background-color: #94B600;
	border-color: #94B600;
	color: white;
}
.btn:hover, .btn:active, .btn:focus {
	background-color: transparent;
	border-color: #94B600;
	color: #94B600;
}
.GCM-Footer-Top {
	margin-right: 0px;
	margin-left: 0px;
}
.GCM-Footer-Bottom {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
.GCM-Dropdown-Right {
	position: relative;
	float: inline-end;
}
.page-container {
	display: contents;
}
.GCM-Navbar-Top {
	padding-top: 0px;
	background: #f9fbf2;
	height: 86px;
	border: none;
}
.nav-div {
	display: flex;
	float: right;
	background: white;
	font-size: 20px;
	margin-top: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.nav-div div {
	padding-left: 20px;
	padding-right: 20px;
	color: #7bb600;
}
.nav-div div:hover {
	background: #7bb600;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
.nav-div div.active {
	background: #7bb600;
	color: white;
}
.nav-div a:hover {
	text-decoration: none;
}

.page__title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 5px;
	background: #cfff00;
}

.svg-logo {
	width: 322px;
	height: 64px;
	margin-top: 10px;
}
.hero-and-content {
	background: #f9fbf2;
}

.GCM-Navbar-Top-Container {
	width: 1330px !important;
}
.GCM-Navbar-Top-1 {
	padding-bottom: 15px;
	height: 40px;
}
.GCM-Navbar-Top-2 {
	font-size: 1.5rem;
}
.GCM-Navbar-Top-3 {
	height:100%;
}
.GCM-Navbar-Top-4 {
	font-size: 2rem;
}
.abo-price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.abo-price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.abo-price .abo-header {
    background-image: url('/assets/pflanzenfreund/images/pflanzenfreund_navbar_bottom.jpg');
    color: white;
    font-size: 25px;
}
.abo-price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
.abo-price .abo-grey {
    background-color: #f9f9f9;
    font-size: 20px;
}
#account-check {
	margin-left: 25%;
	margin-right: 25%;
}
#account-checkGeschenk {
	margin-left: 25%;
	margin-right: 25%;
}
#account-check input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
#account-checkGeschenk input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
#account-check input.invalid {
  background-color: #ffdddd;
}
#account-checkGeschenk input.invalid {
  background-color: #ffdddd;
}
#account-check .tab {
  display: none;
}
#account-checkGeschenk .tabGeschenk {
  display: none;
}
#account-check .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#account-checkGeschenk .stepGeschenk {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#account-check .step.active {
  opacity: 1;
}
#account-checkGeschenk .stepGeschenk.active {
  opacity: 1;
}
#account-check .step.finish {
  background-color: #4CAF50;
}
#account-checkGeschenk .stepGeschenk.finish {
  background-color: #4CAF50;
}
.footer-social-1 {
	margin: 10px 10px 0 0;
}
.footer-social-2 {
	background-color: #94B600;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	display: inline-block;
	text-align: center;
}
.footer-social-3 {
	padding-top: 5px;
	font-size: 20px;
	color: white;
}
.footer-items-1 {
	margin: 15px 10px 0 0;
}
.footer-social-3:hover {
	color: black;
}
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 188px; height: 188px; border: 8px solid white; border-radius: 50%; }
.box > .icon > .info { margin-top: -94px; background: white; padding: 100px 20px 10px 20px;}
.box > .icon > .image > img {border-radius: 50%; vertical-align: baseline;}

.footer__pflanzenfreund {
	padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #bdda7f;
}

.web-footer {
	background: #f9fbf2;
	border: none;
}
.footer__logo svg {
    width: 195px;
}
.footer__logomeier img {
    width: 116px;
}
.footer__nav li {
    display: inline-block;
    margin-right: 25px;
}

.footer__nav {
    list-style: none outside none;
}
.footer__nav li a {
    padding-bottom: 2px;
    border-bottom: 2px solid #cfff00;
	color: #7bb600;
	padding-right: 20px;
}
.footer__socials li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #7bb600;
	color: #fff;
    text-align: center;
    display: inline-block;
	margin-top: 20px;
}

.footer__socials {
    margin-right: -16px;
}
.footer__socials {
    list-style: none outside none;
    margin: 0;
    margin-right: 0px;
    padding: 0;
}

.footer__socials li {
	line-height: 40px;
}
.footer__box h4 {
	margin-top: 0px;
}
.footer__box p {
	margin-top: 0px;
}