{% set user = get_logged_in_user() %}
<div class="row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-8" style="padding-left: 0px !important; margin-top: 30px;">
		<h1 class="page__title" style="font-size: 5rem; font-weight: bold; color: #7bb600;">Pflanzenfreund abonnieren</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-6" style="padding-left: 0px !important; margin-top: 30px;">
		<p style="font-size: 1.5rem; font-weight: 400;">Abonnieren Sie jetzt den «Pflanzenfreund» mit den wesentlichen Informationen zum umweltgerechten Gärtnern, mit Hintergrundberichten und vernünftigen Produktempfehlungen. Als Probe- oder Jahresabonnement erhalten Sie jede Ausgabe bequem und pünktlich zur Saison.</p>
	</div>
	<div class="col-sm-2">
	</div>
</div>
<br><br>
<!-- <div class="row">
	<div class="col-sm-12">
		<p style="font-size: 1.5rem; font-weight: 400;">Abonnieren Sie jetzt den «Pflanzenfreund» mit den wesentlichen Informationen zum umweltgerechten Gärtnern, mit Hintergrundberichten und vernünftigen Produktempfehlungen. Als Probe- oder Jahresabonnement erhalten Sie jede Ausgabe bequem und pünktlich zur Saison.</p>
	</div>
	<!--<div class="col-sm-4">
	</div>
</div> -->
<div class="row">
	<div class="col-sm-4">
		<!-- <div class="card">
			<img src="/assets/pflanzenfreund/images/800x400_Jahresabo_lay.jpg" alt="Jahres-Abo" style="width:100%">
			<div style="text-align: center;">
				<p class="title">Ihr Jahres-Abonnement:</p>
				<p class="price">CHF 42.-</p>
				<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
				<p class="second-text"style="padding: 10px;">Erhalten Sie 10 Ausgaben pünktlich zum Monatsbeginn.</p>
				<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Jahres-Abo{% else %}/orderabo?abo_type=Jahres-Abo{% endif %}">Jetzt bestellen</a>
			</div>
		</div> -->
		<div class="box">							
			<div class="icon">
				<div class="image"><img src="https://pflanzenfreund.imgix.net/app/uploads/2019/09/Farbige_Bla%CC%88tter.jpg?auto=compress%2Cenhance%2Cformat&ch=Save-Data&crop=top&dpr=1&fit=crop&h=168&w=168&s=31f9e0106e1ad204ce19c9ac874f7eff" alt="Jahres-Abo" style="width:100%"></div>
				<div class="info" style="overflow: hidden;">
					<p class="title">Ihr Jahres-Abonnement:</p>
					<p class="price">CHF 42.-</p>
					<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
					<p class="second-text"style="padding: 10px;">Erhalten Sie 10 Ausgaben pünktlich zum Monatsbeginn.</p>
					<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Jahres-Abo{% else %}/orderabo?abo_type=Jahres-Abo{% endif %}">Jetzt bestellen</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<!-- <div class="card">
			<img src="/assets/pflanzenfreund/images/800x400_Probeabo_lay-1.jpg" alt="Probe-Abo" style="width:100%">
			<div style="text-align: center;">
				<p class="title">Ihr Probe-Abonnement:</p>
				<p class="price">CHF 14.-</p>
				<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
				<p class="second-text"style="padding: 10px;">Erhalten Sie die nächsten 4 Ausgaben zum Reinschnuppern.</p>
				<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Probe-Abo{% else %}/orderabo?abo_type=Probe-Abo{% endif %}">Jetzt bestellen</a>
			</div>
		</div> -->
		<div class="box">							
			<div class="icon">
				<div class="image"><img src="https://pflanzenfreund.imgix.net/app/uploads/2019/07/Stauden_pontus-wellgraf.jpg?auto=compress%2Cenhance%2Cformat&ch=Save-Data&crop=top&dpr=1&fit=crop&h=168&w=168&s=f1dbf05a2acfa4cb529a4fa51f89ce8a" alt="Jahres-Abo" style="width:100%"></div>
				<div class="info" style="overflow: hidden;">
					<p class="title">Ihr Probe-Abonnement:</p>
					<p class="price">CHF 14.-</p>
					<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
					<p class="second-text"style="padding: 10px;">Erhalten Sie die nächsten 4 Ausgaben zum Reinschnuppern.</p>
					<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Probe-Abo{% else %}/orderabo?abo_type=Probe-Abo{% endif %}">Jetzt bestellen</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<!-- <div class="card">
			<img src="/assets/pflanzenfreund/images/800x400_Geschenkabo_lay.jpg" alt="Geschenk-Abo" style="width:100%">
			<div style="text-align: center;">
				<p class="title">Ihr Geschenk-Abonnement:</p>
				<p class="price">CHF 42.-</p>
				<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
				<p class="second-text"style="padding: 10px;">Verschenken Sie 10 Ausgaben als besonderes Geschenk.</p>
				<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Geschenk-Abo{% else %}/orderabo?abo_type=Geschenk-Abo{% endif %}">Jetzt bestellen</a>
			</div>
		</div> -->
		<div class="box">							
			<div class="icon">
				<div class="image"><img src="https://pflanzenfreund.imgix.net/app/uploads/2019/07/Wu%CC%88hlmaus_ryan-stone.jpg?auto=compress%2Cenhance%2Cformat&ch=Save-Data&crop=top&dpr=1&fit=crop&h=168&w=168&s=114fb31311a65ff7df2e461ed9c8c58d" alt="Jahres-Abo" style="width:100%"></div>
				<div class="info" style="overflow: hidden;">
					<p class="title">Ihr Geschenk-Abonnement:</p>
					<p class="price">CHF 42.-</p>
					<p class="additional-text">(Versand nur innerhalb der Schweiz)</p>
					<p class="second-text"style="padding: 10px;">Verschenken Sie 10 Ausgaben als besonderes Geschenk.</p>
					<a class="btn btn-primary order-btn btn-bot" href="{% if hide_order %}/registration?abo_type=Geschenk-Abo{% else %}/orderabo?abo_type=Geschenk-Abo{% endif %}">Jetzt bestellen</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
{% include "public/css/abonnieren.css" %}
</style>




