<div class="page-breadcrumbs">
	<ul class="breadcrumb">
		<li><a href="https://pflanzenfreund.ch/de/">Home</a></li>
		<li><a href="/">Pflanzenfreund abonnieren</a></li>
		<li class="active">Herzlichen Dank</li>
	</ul>
</div>
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-10" style="padding-left: 0px !important; margin-top: 30px;">
		<h1 class="page__title" style="font-size: 5rem; font-weight: bold; color: #7bb600;">Herzlichen Dank für Ihre Bestellung!</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<p>Die Rechnung werden wir Ihnen in Kürze per Post zustellen. Bitte beachten Sie, dass wenn Sie Ihr Abonnement nach dem 15. des Monats bestellt haben, die Abo-Laufzeit erst im Folgemonat startet.<br><br>
			Wir wünschen viel Vergnügen und Inspiration beim Lesen.<br><br>
			Die Pflanzenfreund-Redaktion
		</p>
	</div>
	<div class="col-sm-2"></div>
</div>
<style>
{% include "public/css/abonnieren.css" %}
{% include "pflanzenfreund/www/orderabo.css" %}
</style>