<!-- no-cache -->
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<img src="/assets/pflanzenfreund/images/800x400_Geschenkabo_lay.jpg" alt="Jahres-Abo" style="width:100%">
			<div style="padding-left: 15px; padding-right: 15px;">
				<p>Sie können diesen Gutschein personalisieren.</p>
				<div class="form-group" style="margin-bottom: 0px;">
					<label for="for">für</label>
					<input type="text" class="form-control" id="for">
					<label for="of">von</label>
					<input type="text" class="form-control" id="of">
					<label for="comment">Widmung</label>
					<textarea class="form-control" rows="5" id="comment" maxlength="160" oninput="count();"></textarea>
				</div>
				<p id="anzahlzeichen" style="padding-bottom: 30px;">160 Zeichen übrig</p>
				<a class="btn btn-primary order-btn" style="margin-bottom: 5px; bottom: 0px; position: absolute; width: 82%;" onclick="vorschau();">VORSCHAU ANZEIGEN</a>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<h1>Wertgutschein Gartencenter Meier</h1>
		<p>Mit dem Wertgutschein geniessen die Beschenkten den Einkauf bei uns ganz nach individuellem Wunsch. Der Wertgutschein ist für das gesamte Angebot iGartencenter Meier gültig.</p>
		<p><br></p>
		<p>Die Einlösung von Teilbeträgen ist jederzeit möglich.</p>
		<div class="form-group">
			<label for="sel1">Betragsauswahl</label>
			<select class="form-control" id="sel1" onchange="betrag();">
				<option>CHF 20.00</option>
				<option>CHF 50.00</option>
				<option>CHF 100.00</option>
				<option>CHF 150.00</option>
				<option>CHF 200.00</option>
				<option>CHF 250.00</option>
				<option>CHF 300.00</option>
				<option>CHF 350.00</option>
				<option>Eigener Betrag</option>
			</select>
		</div>
		<div class="form-group hidden" id="betrag_gruppe">
			<label for="betrag">Bitte geben Sie einen Betrag zwischen CHF 20.00 und CHF 3'000.00 ein.</label>
			<input type="float" class="form-control" id="betrag">
		</div>
		<p><br></p>
		<a class="btn btn-primary order-btn" style="margin-bottom: 5px; bottom: 0px; position: absolute; width: 96%;" href="{% if hide_order %}/registration?abo_type=Jahres-Abo{% else %}/neues-pflanzenfreund-abonnement?abo_type=Jahres-Abo{% endif %}">IN DEN WARENKORB >></a>
	</div>
</div>

<style>
{% include "public/css/abonnieren.css" %}
</style>

